{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">카메라 정보</h4>
                <p class="card-description">
                    카메라 정보를 수정합니다.
                </p>
                <form class="forms-sample" method="POST">
                    {% csrf_token %}
                    {% if form.errors %}
                    <div class="alert alert-danger" role="alert">
                        {% for field in form %}
                            {% if field.errors %}
                                <strong>{{ field.label }}</strong>
                                {{ field.errors }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                    {% for field in form.hidden_fields %}
                    {{field}}
                    {% endfor %}
                    {% for field in form.visible_fields %}
                    <div class="form-group">
                        {{field.errors}}
                        {{field.label_tag}}{{field}}
                    </div>
                    {% endfor %}
                    <button type="submit" class="btn btn-primary mr-2">Submit</button>
                    <button class="btn btn-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block javascripts %}
{% endblock javascripts %}