{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container-fluid">
  <div class="row">

      {% if not is_exsist_camera %}
      <div class="row">
        <a href="{% url 'app_camera:camera_create' %}">새로만들기</a> 
        
      </div>
      {% endif %}
      {% for cam in camera %}
      <div class="col-md-3">
        <div class="row border">
          <div class="col-md-12 m-1">
            <div class="row">
              <div class="col-md-12">
                <div class="d-flex justify-content-between border-bottom">
                  <h5 class="card-title mt-2 ml-2 mb-0 font-weight-bold">
                    <a href="{% url 'app_camera:detail' cam.id %}">
                      {{cam.id}}번 카메라
                    </a>
                  </h5>
                  <p class="text-left text-danger m-1 ">
                    <i class="mdi mdi-camcorder" id="alive{{cam.id}}"></i>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-1">
            <div class="card">
              <div calss="card-title">
                <div class="row">
                  <div class="col-md-4">
                    <p class="text-center m-1">높이</p>
                  </div>
                  <div class="col-md-6 mt-2">
                    <div class="progress">
                      <div class="progress-bar bg-primary" id="line{{cam.id}}" role="progressbar" style="width: 0%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-1">
            <div class="card">
              <div calss="card-title">
                <div class="row">
                  <div class="col-md-4">
                    <p class="text-center m-1">색상</p>
                  </div>
                  <div class="col-md-6 mt-2">
                    <div class="progress">
                      <div class="progress-bar" id="blue{{cam.id}}" role="progressbar" style="width: 33%" aria-valuenow="33"
                        aria-valuemin="0" aria-valuemax="100"></div>
                      <div class="progress-bar bg-success" id="green{{cam.id}}" role="progressbar" style="width: 33%"
                        aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                      <div class="progress-bar bg-danger" id="red{{cam.id}}" role="progressbar" style="width: 33%"
                        aria-valuenow="33" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 m-1">
            <div class="card">
              <div calss="card-title">
                <div class="row">
                  <div class="col-md-4">
                    <p class="text-center m-1">문자</p>
                  </div>
                  <div class="col-md-6 mt-2">
                    <div class="progress">
                      <div class="progress-bar bg-primary" role="progressbar" style="width: 0%" aria-valuenow="0"
                        aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> 
      {% endfor %}


  </div>
</div>  



{% comment %}
 <div class="row">
  <div class="col-md-12">

    <div class="row">
      <div class="col md-2">
      </div>
      <div class="col-md-8">
        <div class="card">
          {% for cam in camera %}
          <div class="card-body">
            <div class="card-title mb-1">
              <div class="row">
                <div class="col-md-12 mb-2">
                  <h5 class="font-weight-bold">카메라{{cam.id}}</h5>
                </div>
              </div>
              <input type="hidden" name="suuid" id="suuid" value="H264_AAC2">
              <input type="hidden" name="port" id="port" value="8083">
              <input type="hidden" id="localSessionDescription" readonly="true">
              <input type="hidden" id="remoteSessionDescription">

              <div id="remoteVideos">
                <video id="videoElem" autoplay muted controls></video>
              </div>
              <div class="row">
                <div class="col-md-4 m-0">
                  <p class="text-muted m-0">색상</p>
                  <div class="container border bg-white">
                    <div class="row flex-nowrap">
                      <div class="col-md-4" id="color-bg-info{{cam.id}}">　</div>
                      <div class="col-md-4" id="color-bg-success{{cam.id}}">　</div>
                      <div class="col-md-4" id="color-bg-danger{{cam.id}}">　</div>
                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-0">
                  <p class="text-muted m-0">선</p>
                  <div class="container border bg-white">
                    <div class="row flex-nowrap">
                      <div class="col-md-4 text-center flex-nowrap" id="text-bg-info{{cam.id}}">　</div>
                      <div class="col-md-4 text-center flex-nowrap" id="text-bg-success{{cam.id}}">　</div>
                      <div class="col-md-4 text-center flex-nowrap" id="text-bg-danger{{cam.id}}">　</div>


                    </div>
                  </div>
                </div>
                <div class="col-md-4 m-0">
                  <p class="text-muted m-0">문자</p>
                  <div class="container border bg-white">
                    <div class="row flex-nowrap">
                      <div class="col-md-4 text-center flex-nowrap" id="text-bg-info{{cam.id}}">0</div>
                      <div class="col-md-4 text-center flex-nowrap" id="text-bg-success{{cam.id}}">12</div>
                      <div class="col-md-4 text-center flex-nowrap" id="text-bg-danger{{cam.id}}">25</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      <div class="col md-2">
      </div>
    </div>

  </div>
  <div class="col-md-6" style="display:none;">
    <div class="card mb-2">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <h4 class="card-title">Color chart</h4>
        <canvas id="colorChart" width="471" height="235" style="display: block; width: 471px; height: 235px;"
          class="chartjs-render-monitor"></canvas>
      </div>
    </div>
    <div class="card mb-2">
      <div class="card-body">
        <div class="chartjs-size-monitor">
          <div class="chartjs-size-monitor-expand">
            <div class=""></div>
          </div>
          <div class="chartjs-size-monitor-shrink">
            <div class=""></div>
          </div>
        </div>
        <h4 class="card-title">Line chart</h4>
        <canvas id="lineChart" width="471" height="235" style="display: block; width: 471px; height: 235px;"
          class="chartjs-render-monitor"></canvas>
      </div>
    </div>
  </div>
</div> 
 {% endcomment %}

{% endblock content %}

{% block javascripts %}

<script src="{% static 'js/jquery-ui.js' %}"></script>

<script type="text/javascript">
  function event_ping(){
    {% for cam in camera %}
      {% if cam.cam_alive == 1 %}
        if ($("#alive{{cam.id}}").hasClass("mdi mdi-camcorder-off") == 1){
         $("#alive{{cam.id}}").removeClass("mdi mdi-camcorder-off").addClass("mdi mdi-camcorder");
        }

      {% else %}
        if ($("#alive{{cam.id}}").hasClass("mdi mdi-camcorder") == 1){
         $("#alive{{cam.id}}").removeClass("mdi mdi-camcorder").addClass("mdi mdi-camcorder-off");
        }

      {% endif %}
    {% endfor %}
  }
  setInterval(event_ping, 10000);

  async function event_motion_line() {
      $.ajax({
        "url": "recognitions/line",
        "type": "get",
        "dataType": "json",
        "success": function (data) {
        
          $.each(data, function (key, value) {
            
            {%for cam in camera %}

            if (key == "{{cam.camera_name}}") {
              var height = value.HEIGHT;
              var length = value.LENGTH;
              
              // 23 is absolute height value
              var abs_length = height - length
              var rate = abs_length / height

              console.log("rate : " + rate + "/ height : " + height + "/ length" + length + "/ abs_length" + abs_length);
              $("#line{{cam.id}}").attr('aria-valuenow', rate).css('width', rate + '%');
            } 
            {% endfor %}
          });
        },
        "error": function (info, xhr) {
          if (info.readyState == '4') {
            ///alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
          } else {
            /// alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
          }
        }
      });
    }
  setInterval(event_motion_line, 10000);
  async function event_motion_color() {

      $.ajax({
        "url": "recognitions/color",
        "type": "get",
        "dataType": "json",
        "success": function (data) {
          
          $.each(data, function (key, value) {
            {%for cam in camera %}
            if (key == "{{cam.camera_name}}") {
              if ((value.color.red > 0) & (value.color.red <= 3)) {
                $("#red{{cam.id}}").show();
              }
              else{
                $("#red{{cam.id}}").hide();
              }

              if (value.color.green > 0) {
                $("#green{{cam.id}}").show();
              }
              else{
                $("#green{{cam.id}}").hide();
              }

              if (value.color.blue > 0) {
                $("#blue{{cam.id}}").show();
              }
              else{
                $("#blue{{cam.id}}").hide();
              }
            } 
            {% endfor %}

          });
        },
        "error": function (info, xhr) {
          if (info.readyState == '4') {
            //alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
          } else {
            //alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
          }
        }
      });
    }
  setInterval(event_motion_color, 10000);
</script>



{% comment %} <script type="text/javascript">

  $("#videoElem").width($("#remoteVideos").width());

  $(window).resize(function () {
    var width = $("#remoteVideos").width();
    $("#videoElem").width(width);
  });

  setInterval(event_motion_color, 10000);
  async function event_motion_color() {

    $.ajax({
      "url": "recognitions/color",
      "type": "get",
      "dataType": "json",
      "success": function (data) {
        

        {%for cam in camera %}
        

        if ($("#color-bg-danger{{cam.id}}").hasClass("bg-danger") == 1){
          $("#color-bg-danger{{cam.id}}").removeClass("bg-danger");
        }
        
        if ($("#color-bg-success{{cam.id}}").hasClass("bg-success") == 1){
        $("#color-bg-success{{cam.id}}").removeClass("bg-success");
        }

        if ($("#color-bg-info{{cam.id}}").hasClass("bg-info") == 1){
        $("#color-bg-info{{cam.id}}").removeClass("bg-info");
        }

        {% endfor %}
        $.each(data, function (key, value) {
          {%for cam in camera %}
          if (key == "{{cam.camera_name}}") {
            if ((value.color.red > 0) & (value.color.red <= 3)) {
              str = "경고 ";
              $("#color-bg-danger{{cam.id}}").addClass("bg-danger");
            }
            if (value.color.green > 0) {
              str = "보통 ";
              $("#color-bg-success{{cam.id}}").addClass("bg-success");
            }
            if (value.color.blue > 0) {
              str = "안전 ";
              $("#color-bg-info{{cam.id}}").addClass("bg-info");
            }
          } 
          {% endfor %}

        });
      },
      "error": function (info, xhr) {
        if (info.readyState == '4') {
          //alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
        } else {
          //alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
        }
      }
    });
  }
  setInterval(event_motion_line, 10000);
  async function event_motion_line() {
    $.ajax({
      "url": "recognitions/line",
      "type": "get",
      "dataType": "json",
      "success": function (data) {
      
        $.each(data, function (key, value) {
          /*
          if ($("#line-bg-danger").hasClass("bg-dark") == 1){
          $("#line-bg-danger").removeClass("bg-dark");
          }
          if ($("#line-bg-danger").hasClass("bg-light") == 1){
          $("#line-bg-danger").removeClass("bg-light");
          }

          if ($("#line-bg-success").hasClass("bg-dark") == 1){
          $("#line-bg-success").removeClass("bg-dark");
          }
          if ($("#line-bg-success").hasClass("bg-light") == 1){
          $("#line-bg-success").removeClass("bg-light");
          }

          if ($("#line-bg-info").hasClass("bg-dark") == 1){
          $("#line-bg-info").removeClass("bg-dark");
          }
          if ($("#line-bg-info").hasClass("bg-light") == 1){
          $("#line-bg-info").removeClass("bg-light");
          }
          */
          {%for cam in camera %}

          if (key == "{{cam.camera_name}}") {
            var height = value.HEIGHT;
            var length = value.AVG;
            
            // 23 is absolute height value
            var abs_length = 23 * length / height;
            var abs_height = 23 - abs_length;
            console.log("height : " + height + "  length : " + length + "  abs_length : " + abs_length);
            $("#line-bg-info").html(parseInt(abs_height));

            /*
            if((height - length) / height < 0.33){
              $("#line-bg-info").addClass("bg-dark");
              $("#line-bg-success").addClass("bg-light");
              $("#line-bg-danger").addClass("bg-light");
            }
            else if(((height - length) / height >= 0.33) & ((height - length) / height < 0.66)){
              $("#line-bg-info").addClass("bg-dark");
              $("#line-bg-success").addClass("bg-dark");
              $("#line-bg-danger").addClass("bg-light");
            }
            else if((height - length) / height >= 0.66){
              $("#line-bg-info").addClass("bg-dark");
              $("#line-bg-success").addClass("bg-dark");
              $("#line-bg-danger").addClass("bg-dark");
            }
            */

          } 
          {% endfor %}
        });
      },
      "error": function (info, xhr) {
        if (info.readyState == '4') {
          ///alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
        } else {
          /// alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
        }
      }
    });
  }
  setInterval(event_motion_text, 10000);
  async function event_motion_text() {
    $("#text_event_{{cam.camera_name}}").html("");
    $.ajax({
      "url": "recognitions/text",
      "type": "get",
      "dataType": "json",
      "success": function (data) {
        {%for cam in camera %}
        if ($("#text-bg-danger{{cam.id}}").hasClass("bg-dark") == 1){
        $("#text-bg-danger{{cam.id}}").removeClass("bg-dark");
        }
        if ($("#text-bg-danger{{cam.id}}").hasClass("bg-light") == 1){
        $("#text-bg-danger{{cam.id}}").removeClass("bg-light");
        }

        if ($("#text-bg-success{{cam.id}}").hasClass("bg-dark") == 1){
        $("#text-bg-success{{cam.id}}").removeClass("bg-dark");
        }
        if ($("#text-bg-success{{cam.id}}").hasClass("bg-light") == 1){
        $("#text-bg-success{{cam.id}}").removeClass("bg-light");
        }

        if ($("#text-bg-info{{cam.id}}").hasClass("bg-dark") == 1){
        $("#text-bg-info{{cam.id}}").removeClass("bg-dark");
        }
        if ($("#text-bg-info{{cam.id}}").hasClass("bg-light") == 1){
        $("#text-bg-info{{cam.id}}").removeClass("bg-light");
        }
        {% endfor %}
        

        $.each(data, function (key, value) {


          {%for cam in camera %}
          if (key == "{{cam.camera_name}}") {
            if(($.inArray("0", value.text_rec) != -1) | ($.inArray("O", value.text_rec) != -1)){
               $("#text-bg-info{{cam.id}}").addClass("bg-light");
            }
            else{
              $("#text-bg-info{{cam.id}}").addClass("bg-dark");
            }

            if($.inArray("12", value.text_rec) != -1){
              $("#text-bg-success{{cam.id}}").addClass("bg-light");
            }
            else{
              $("#text-bg-success{{cam.id}}").addClass("bg-dark");
            }

            if($.inArray("25", value.text_rec) != -1){
              $("#text-bg-danger{{cam.id}}").addClass("bg-light");
            }
            else{
              $("#text-bg-danger{{cam.id}}").addClass("bg-dark");
            }
          }
          {% endfor %}

          {%for cam in camera %}
          if (key == "{{cam.camera_name}}") {
            if(($.inArray("0", value.text_rec) != -1) | ($.inArray("O", value.text_rec) != -1)){
               $("#text-bg-info{{cam.id}}").removeClass("bg-dark");
               $("#text-bg-info{{cam.id}}").addClass("bg-light");
            }
            else{
              setTimeout(function(){
                $("#text-bg-info{{cam.id}}").addClass("bg-dark");
              }, 3000);
              
            }

            if($.inArray("12", value.text_rec) != -1){
              $("#text-bg-success{{cam.id}}").removeClass("bg-dark");
              $("#text-bg-success{{cam.id}}").addClass("bg-light");
            }
            else{
              setTimeout(function(){
                $("#text-bg-success{{cam.id}}").addClass("bg-dark");
              }, 2000);
              
            }

            if($.inArray("25", value.text_rec) != -1){
              $("#text-bg-danger{{cam.id}}").removeClass("bg-dark");
              $("#text-bg-danger{{cam.id}}").addClass("bg-light");
            }
            else{
              setTimeout(function(){
                $("#text-bg-danger{{cam.id}}").addClass("bg-dark");
              }, 2500);
              
            }
          }
          {% endfor %}


        });
      },
      "error": function (info, xhr) {
        if (info.readyState == '4') {
          /// alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
        } else {
          /// alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
        }
      }
    });
  }
</script>

<script src="{% static 'js/adapter-latest.js' %}"></script>
<script type="text/javascript">
  let stream = new MediaStream();
  let suuid = $('#suuid').val();

  let config = {
    iceServers: [{
      urls: ["stun:stun.l.google.com:19302"]
    }]
  };

  const pc = new RTCPeerConnection(config);
  pc.onnegotiationneeded = handleNegotiationNeededEvent;

  let log = msg => {
    // document.getElementById('div').innerHTML += msg + '<br>'
  }

  pc.ontrack = function (event) {
    stream.addTrack(event.track);
    videoElem.srcObject = stream;
    log(event.streams.length + ' track is delivered')
  }

  pc.oniceconnectionstatechange = e => log(pc.iceConnectionState)

  async function handleNegotiationNeededEvent() {
    let offer = await pc.createOffer();
    await pc.setLocalDescription(offer);
    getRemoteSdp();
  }

  $(document).ready(function () {
    $('#' + suuid).addClass('active');
    getCodecInfo();
  });


  function getCodecInfo() {
    $.get("http://127.0.0.1:8083/stream/codec/" + suuid, function (data) {
      try {
        data = JSON.parse(data);
      } catch (e) {
        console.log(e);
      } finally {
        $.each(data, function (index, value) {
          pc.addTransceiver(value.Type, {
            'direction': 'sendrecv'
          })
        })
      }
    });
  }

  let sendChannel = null;

  function getRemoteSdp() {
    $.post("http://127.0.0.1:8083/stream/receiver/" + suuid, {
      suuid: suuid,
      data: btoa(pc.localDescription.sdp)
    }, function (data) {
      try {
        pc.setRemoteDescription(new RTCSessionDescription({
          type: 'answer',
          sdp: atob(data)
        }))
      } catch (e) {
        console.warn(e);
      }
    });
  }
</script>
<script type="text/javascript">
  setInterval(event_color_log, 10000);
  async function event_color_log() {
    $.ajax({
      "url": "log/color_log",
      "type": "get",
      "dataType": "json",
      "success": function (data) {
        var colorOptions = {
          plugins: {
            filler: {
              propagate: true
            }
          }
        }
        var colorChartCanvas = $("#colorChart").get(0).getContext("2d");
        var colorChart = new Chart(colorChartCanvas, {
          type: 'line',
          data: data,
          options: colorOptions
        });
      },
      "error": function (info, xhr) {
        if (info.readyState == '4') {

        } else {

        }
      }
    });
  }

  setInterval(event_line_log, 10000);
  async function event_line_log() {
    $.ajax({
      "url": "log/line_log",
      "type": "get",
      "dataType": "json",
      "success": function (data) {
        var lineOptions = {
          plugins: {
            filler: {
              propagate: true
            }
          }
        }
        var lineChartCanvas = $("#lineChart").get(0).getContext("2d");
        var lineChart = new Chart(lineChartCanvas, {
          type: 'line',
          data: data,
          options: lineOptions
        });
      },
      "error": function (info, xhr) {
        if (info.readyState == '4') {

        } else {

        }
      }
    });
  }
</script> {% endcomment %}

{% endblock javascripts %}