{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row border-bottom">
    <div class="col-md-12">
         <div class="d-flex justify-content-between">
             <h2 class="text-left">cam-{{camera.camera_name}}</h2>
             <button type="button" class="btn btn-inverse-danger ftm-fw mb-1">삭제</button>
         </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
        <div class="row mt-1">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="card-title mt-2 mb-0">카메라 정보</p>
                            <button type="button" class="btn btn-inverse-info btn-sm ftm-fw m-1" onclick="location.href='{% url 'app_camera:camera_update' camera.id %}'">수정</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>IP</th>
                                        <th>PORT</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>{{camera.camera_ip}}</th>
                                        <th>{{camera.camera_port}}</th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="card-title mt-2 mb-0">이벤트 정보</p>
                            <button class="btn btn-inverse-info btn-sm mb-2" onclick="location.href='{% url 'app_event:event_interval' camera.id %}'">수정</button>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>감지</th>
                                        <th>시간</th>
                                        <th>결과</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>선</th>
                                        <th id="interval_line"></th>
                                        <th><label class="badge badge-info m-0">'</label></th>
                                    </tr>
                                    <tr>
                                        <th>색상</th>
                                        <th id="interval_color"></th>
                                        <th><label class="badge badge-info m-0">'</label></th>
                                    </tr>
                                    <tr>
                                        <th>문자</th>
                                        <th id="interval_text"></th>
                                        <th><label class="badge badge-info m-0">'</label></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    <div class="col-md-7">
        <div class="row mt-1">
            <div class="col-md-12 grid-margin stretch-card">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <p class="card-title mt-2 mb-0">화면 영역 정보</p>
                            <div class="btn-group mb-2" role="group">
                                <button class="btn btn-outline-secondary btn-sm" id="color_form">선</button>
                                <button class="btn btn-outline-secondary btn-sm" id="line_form">색상</button>
                                <button class="btn btn-outline-secondary btn-sm" id="text_form">문자</button>
                            </div>
                            <button class="btn btn-inverse-info btn-sm mb-2" id="roi">수정</button>
                        </div>
                        <img src="{{media.camera_capture}}" class="img-fluid" alt="roi">
                        <div class="table table-hover">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>좌표</th>
                                        <th>너비</th>
                                        <th>높이</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th id="roi_xy">(,)</th>
                                        <th id="roi_w"></th>
                                        <th id="roi_h"></th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script src="{% static 'js/jquery-ui.js' %}"></script>
<script type="text/javascript">    
    console.log("'start'");
    $(function(){
        
        $.ajax({
            "url": "{% url 'api-1.0.0:interval' camera.id %}",
            "type": "get",
            "dataType": "json",
            "success": function (data) {
                var line = data.line_interval;
                var color = data.color_interval;
                var text = data.text_interval;
                
                $("#interval_line").text(line + "초");
                $("#interval_color").text(color + "초");
                $("#interval_text").text(text + "초");
                
              },
              "error": function (info, xhr) {
                if (info.readyState == '4') {
                  //alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
                } else {
                  //alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
                }
              }
        });
    });
    $("#color_form").click(function(){
        $.ajax({
            "url": "{% url 'api-1.0.0:color_roi' camera.id 'red' %}",
            "type": "get",
            "dataType": "json",
            "success": function (data) {
                var x = data.color_x;
                var y = data.color_y;
                var w = data.color_w;
                var h = data.color_h;
                change_text(x,y,w,h);
              },
              "error": function (info, xhr) {
                if (info.readyState == '4') {
                  //alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
                } else {
                  //alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
                }
              }
        });
        $(this).data('clicked', true);
        $("#line_form").data('clicked', false);
        $("#text_form").data('clicked', false);
        
    });
    $("#line_form").click(function(){
        $.ajax({
            "url": "{% url 'api-1.0.0:line_roi' camera.id %}",
            "type": "get",
            "dataType": "json",
            "success": function (data) {
                var x = data.line_x;
                var y = data.line_y;
                var w = data.line_w;
                var h = data.line_h;
                change_text(x,y,w,h);
              },
              "error": function (info, xhr) {
                if (info.readyState == '4') {
                  //alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
                } else {
                  //alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
                }
              }
        });
        $(this).data('clicked', true);
        $("#color_form").data('clicked', false);
        $("#text_form").data('clicked', false);
    });
    $("#text_form").click(function(){
        $.ajax({
            "url": "{% url 'api-1.0.0:text_roi' camera.id %}",
            "type": "get",
            "dataType": "json",
            "success": function (data) {
                var x = data.text_x;
                var y = data.text_y;
                var w = data.text_w;
                var h = data.text_h;
                change_text(x,y,w,h);
              },
              "error": function (info, xhr) {
                if (info.readyState == '4') {
                  //alert('문제가 발생했습니다.\n상태코드 : ' + info.status+ '\n\n' + info.responseText);
                } else {
                  //alert('문제가 발생했습니다.\n잠시후 다시 시도해 주세요.\n 상태코드 : ' +info.status);
                }
              }
        });
        $(this).data('clicked', true);
        $("#color_form").data('clicked', false);
        $("#line_form").data('clicked', false);
    });

        $("#roi").click(function(){
        if ($("#color_form").data('clicked')) {
            {% comment %} location.href = "{% url 'app_event:event_color' camera.id %}";  {% endcomment %}
        }
        else if ($("#line_form").data('clicked')) {
            {% comment %} location.href = "{% url 'app_event:event_line' camera.id %}";  {% endcomment %}
        }
        else if ($("#text_form").data('clicked')) {
            location.href = "{% url 'app_event:event_text' camera.id %}";
        } else {

        }
    });

    function change_text(x, y, w, h){
        $("#roi_xy").text("("+ x + "," + y + ")");
        $("#roi_w").text(w);
        $("#roi_h").text(h);
    }
</script>

{% endblock javascripts %}